/.env
/.env.local
/.git
/.git-blame-ignore
/.github
/.gitignore
/.vscode
/bin/
/config*
/cspell.json
/data_v2.db*
/data.db
/data.db*
/docker/bin/
/project-words.txt
/README.md
/rustfmt.toml
/storage/
/target/
