/.env
/.env.local
/.git
/.git-blame-ignore
/.github
/.gitignore
/.vscode
/data_v2.db*
/data.db*
/bin/
/config-idx-back.toml.local
/config-tracker.toml.local
/config.toml
/config.toml.local
/cspell.json
/data.db
/docker/
/project-words.txt
/README.md
/rustfmt.toml
/storage/
/target/
