/.env
/.env.local
/.git
/.git-blame-ignore
/.github
/.gitignore
/.vscode
/bin/
/config-idx-back.local.toml
/config-tracker.local.toml
/config.local.toml
/config.toml
/cspell.json
/data_v2.db*
/data.db
/data.db*
/docker/
/project-words.txt
/README.md
/rustfmt.toml
/storage/
/target/
